{% extends 'user/user-base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in cart_items %}
                                    <tr>
                                        <td class="image product-thumbnail"><img src="{{ i.product.image1.url }}"></td>
                                        <td class="product-des product-name">
                                            <h5 class="product-name"><a href="{% url 'product_view' i.product.id %}">{{i.product.name}}</a></h5>
                                            {% if i.have_size %}
                                            <p class="font-xs"><strong>Size : </strong>{{ i.size }}</p>
                                            {% endif %}
                                        </td>
                                        <td class="price" data-title="Price"><span>₹{{ i.product.discount_price }}</span></td>
                                        <td class="text-center" data-title="Stock">
                                            <div class="detail-qty border radius  m-auto">
                                                <a onclick="subtract_quantity({{i.id}})" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val">{{ i.quantity }}</span>
                                                <a onclick="add_quantity({{i.id}})" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div>
                                        </td>
                                        <td class="text-right" data-title="Cart">
                                            <span>₹{{ i.subtotal}} </span>
                                        </td>
                                        <td class="action" data-title="Remove"><a href="{% url 'remove_from_cart' i.id %}" class="text-muted"><i class="fi-rs-trash"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="6" class="text-end">
                                            <a href="{% url 'clear_cart' %}" class="text-muted"> <i class="fi-rs-cross-small"></i> Clear Cart</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row mb-50">
                            <div class="col-lg-6 col-md-12">
                                <div class="border p-md-4 p-30 border-radius cart-totals">
                                    <div class="heading_s1 mb-3">
                                        <h4>Cart Totals</h4>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="cart_total_label">Cart Subtotal</td>
                                                    <td class="cart_total_amount"><span class="font-lg fw-900 text-brand">&nbsp;₹{{cart_total|floatformat:2}}</span></td>
                                                </tr>
                                                {% if cart.coupon_applied %}
                                                <tr>
                                                    <td class="cart_total_label">Coupon Discount</td>
                                                    <td class="cart_total_amount"><span style="color:#d64a42;"class="font-lg fw-900">-₹{{cart_discount|floatformat:2}}</span></strong></td>
                                                </tr>
                                                {% endif %}
                                                <tr>
                                                    <td class="cart_total_label">Shipping</td>
                                                    <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Total</td>
                                                    {% if cart.coupon_applied %}
                                                    <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand"> ₹{{cart_total_discount|floatformat:2}}</span></strong></td>
                                                    {% else %}
                                                    <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand"> ₹{{cart_total|floatformat:2}}</span></strong></td>
                                                    {% endif %}
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {% if cart_total == 0 %}
                                    <a class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                                    {% else %}
                                    <a href="{% url 'user_checkout' %}" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if messages %}
            <div class="messages row justify-content-center text-center mt-10">
            {% for message in messages %}
            <div class="alert alert-info {{ message.tags }} col-6" role="alert">
            {{ message }}
            </div>
            {% endfor %}
            </div>
            {% endif %}
        </section>
    </main>
    <script>
        function add_quantity(id)
        {window.location.href = "add_quantity_cart_item/"+id}

        function subtract_quantity(id)
        {window.location.href = "subtract_quantity_cart_item/"+id}
        
        function add_coupon()
        {   
            const coupon_code = document.getElementById("coupon_code").value
            if (coupon_code == ""){
                window.location.href = "add_coupon/"+"null"
            }else{
                window.location.href = "add_coupon/"+coupon_code
            }
        }
        
        function remove_coupon(id)
        {window.location.href = "remove_coupon/"+id}

    </script>
    {% endblock %}