{% extends 'admin/admin-base.html' %}
{% load static %}
{% block content %}

        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    
                </div>
                <form action="{% url 'admin_add_coupon' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mt-40">
                <div class="col-12">
                <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="content-header">
                        <h2 class="content-title ml-5">Add Coupon</h2>
                    </div>
                    <div class="card mb-4">
                        
                        <div class="card-body align-item-end">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Coupon Code</label>
                                    <input type="text" class="form-control" name="code" id="code" placeholder="Coupon Code">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Discount Percentage</label>
                                    <input type="text" class="form-control" name="percentage" id="percentage" placeholder="Discount Percentage">
                                </div>
                                <div class="align-item-end mt-15">
                                    <button type="submit" class="btn btn-md rounded font-sm hover-up mr-5">Save Coupon</button>
                                </div>
                        </div>
                    </div> <!-- card end// -->
                </div>
            </div>
            </div>
            </div>
            </form>
            </div>
            {% if messages %}
                <div class="messages row justify-content-center text-center">
                    {% for message in messages %}
                    <div class="alert alert-info {{ message.tags }} col-6" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </section>
    </main>

{% endblock %}